.card-body {
    min-height: 12.5rem;
}

.bg-card {
    background-color: #f2f2f2;
}

.bg-economia {
    background-color: #e8eb3c;
    color: white;

}

.bg-politica {
    background-color: #ff0028;
    opacity: 90%;
    color: white;
}

.bg-entretenimento {
    background-color: #0040ff;
    opacity: 90%;
    color: white;

}

.bg-esporte {
    background-color: #FE5000;
    opacity: 90%;
    color: white;
}

.bg-tecnologia {
    background-color: #848484;
    opacity: 90%;
    color: white;

}

.bg-saude {
    background-color: #01df01;
    opacity: 90%;
    color: white;

}

.bg-viagem-gastro {
    background-color: #FF69B4;
    opacity: 90%;
    color: white;

}

.bg-educacao {
    background-color: #007FFF;
    opacity: 90%;
    color: white;

}

.bg-carros {
    background-color: #ff8000;
    opacity: 90%;
    color: white;

}

.audio_noticia {
    padding-right: 0.5rem;
} 

.redes_sociais {
    color: grey;
    padding-right: 0.5rem;
} 

.c-title_1 {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    
}

.c-text-1{
    color: black;
    font-size: 1.2em;
}

