.list-group-item {
    height: 4rem;
}

.card-body {
    min-height: 12.5rem;
}

.bg-economia {
    background-color: #dbdad1;
}

.bg-economia1 {
    background-color: yellow;
}

.bg-saude {
    background-color: #77DD77;
}

.bg-politica {
    background-color: #dbdad1;
}

.bg-politica1 {
    background-color:red;
}

.bg-entretenimento {
    background-color: #87CEEB;
}

.bg-esporte {
    background-color: #FE5000;
}

.bg-tecnologia {
    background-color: #C0C6C8;
}

.bg-viagem-gastro {
    background-color: #FF69B4;
}

.bg-educacao {
    background-color: #007FFF;
}

.bg-carros {
    background-color: #CD853F;
}